/* START: NAVBAR */
nav {
    background-color: transparent;
}

.logo {
    width: 8%;
}

.navbar-brand {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}

 .navbar-nav {
    margin-left: auto !important;
}
/* END: NAVBAR */

/* START: QUIENES SOMOS */
.somos {
    background-color: black;
    height: 500px;
}

.somos h1 {
    margin-top: 1em;
}

.box {
    background-color: #48cae4;
    text-align: center;
    height: 50px;
}

.box i {
    font-size: 1.5em;
    padding: .5em;
}

 hr {
    background-color: #48cae4;
    height: 2px !important;
}

.grilla {
    padding-top: 2em;
}

.box p {
    color: #ffffff;
    text-align: left;
    padding-top: 1em;
}

.box-reverse {
    background-color: #48cae4;
    text-align: center;
    height: 60px;
}

.box-reverse i {
    font-size: 1.5em;
    padding: .5em;
}

.box-reverse p {
    color: #ffffff;
    
}
/* END: QUIENES SOMOS */

/* START: DESTACADOS */
.destacados {
    background-color: black;
    height: 600px;
}

.destacados h1 {
    margin-top: 2em;
    text-align: center;
    color: #ffffff;
}

.cajas {
    padding: 2em;
    margin-bottom: 2em;
}

.card {
    background-color: #48cae4;
}
/* END: DESTACADOS */

/* START: CONTACTO */
.contacto {
    background-color: black;
    height: 750px;
}

.contacto h1 {
    margin-top: 2em;
    text-align: center;
    color: #ffffff;
    margin-bottom: .8em;
}

.typeform {
    background-color: aliceblue;
    padding: 2em;
    height: 500px;
}

/* END: CONTACTO */