/* START: NAVBAR */


#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
}


.logo {
    width: 8%;
}

.navbar-brand {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

 .navbar-nav {
    margin-left: auto !important;
}

@media (max-width: 768px) {
    .slider-section {
        margin-top: 4em;
    }
}
/* END: NAVBAR */

/* START: QUIENES SOMOS */
.somos {
    background-color: #000000;
    
    padding: 6em 0;
}

.somos h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.somos p {
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 768px) {
    .somos p {
        line-height: 30px;
    }
}

.box {
    background-color: #48cae4;
    text-align: center;
    height: 50px;
}

.box i {
    font-size: 1.5em;
    padding: .5em;
}

 hr {
    background-color: #48cae4;
    height: 2px !important;
    margin-bottom: 3em;
}

.grilla {
    padding-top: 2em;
}

.box p {
    color: #ffffff;
    text-align: left;
    padding-top: 1em;
}

.box-reverse {
    background-color: #48cae4;
    text-align: center;
    height: 60px;
}

.box-reverse i {
    font-size: 1.5em;
    padding: .5em;
}

.box-reverse p {
    color: #ffffff;
    
}
@media (max-width: 768px) {
    .somos .box-reverse p {
        line-height: 30px;
    }
}
/* END: QUIENES SOMOS */

/* START: DESTACADOS */
.destacados {
    background-color: #000000;
    padding: 6em 0;
}

.destacados h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.cajas {
    padding: 2em;
    margin-bottom: 2em;
}

.card .card-body{
    background-color: #48cae4;
}
/* END: DESTACADOS */

/* START: CONTACTO */
.contacto {
    background-color: #000000;
    padding: 6em 0;
}

.contacto h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.typeform {
    background-color: aliceblue;
    padding: 2em;
    height: 500px;
}

/* END: CONTACTO */

/* START: FOOTER */
footer {
    background-color:#48cae4;
    height: 78px;
    text-align: center;
    font-size: 0.9rem;
}
@media (max-width: 768px) {
    footer {
        height: 100px;
    }
}

footer h2 {
    text-transform: uppercase;
}

footer i {
    color: #ffffff;
    font-size: 2em;
}

/* END: FOOTER */